.hope{
    background-color:blue;
    }

.cl1{h2

    color: black;
}
.cl2{
    color: aqua;
}
h2{
    background-color: orangered;
}
.cl3{
    color: blue;
}
.cl4{
    color: green;
}
.cl5{
    color: blueviolet
}
.img1{
    width: 250px;
    height: 250px;
}
.img2{
    width: 150px;
    height: 150px;
}
.img3{
    width: 50px;
    height: 50px;
}